html {
  scroll-behavior: smooth;
}


body {
  background: linear-gradient(135deg, #045523, #235ebd, #22c55e, #f97316, #ef4444);


  margin: 0;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

/* NAV SECTION */

nav {
  background: linear-gradient(135deg, #e4b139, #6c0230, #649cef, #065535, #ccc);
  color: #fff;
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: #555;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-left: 28px;
}

@media screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    padding: 20px 0;
  }

  nav ul {
    margin-top: 10px;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  .logo {
    margin: 0;
    text-align: center;
  }
}

/* HOME SECTION */
.content-section {
  padding: 80px 25px 25px;
}

.content-section h2 {
  font-size: 60px;
  margin-right: 110px;
}

.content-section p {
  font-size: 30px;
}

.elvis-text {
  color: blue;
}

.hello-text {
  color: red;
} 

.im-text {
  color: green;
}

.website-text {
  color: #0cdf8b;
}

.developer-text {
  color: #065535;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text-content {
  flex: 1;
  max-width: calc(100% - 70px);
}

.image-content {
  flex: 0 0 45%;
  max-width: 45%;
  height: 500px;
  margin-right: 5%;
}

.image-content img {
  width: 105%;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
  border: 3px solid black;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: auto;
}

.cta-button {
  display: inline-block;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #555;
}

@media screen and (max-width: 1200px) {
  .content-section {
    padding-top: 200px;
  }

  .content-section h2 {
    font-size: 40px;
  }

  .content-section p {
    font-size: 18px;
  }

  .image-content {
    flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0;
  }

  .image-content img {
    margin: 0 auto;
  }

  .cta-button {
    margin-bottom: 20px;
  }
}

/* ABOUT SECTION */

.head-about {
  text-align: center;
  font-size: 50px;
  margin-top: 40px;
}

.aboutme-section {
  padding: 50px 0;
}

.aboutme-section .info {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.aboutme-section h1,
.aboutme-section h2 {
  text-align: center;
  color: black;
}

.aboutme-section p {
  color: white;
  line-height: 1.6;
  font-size: 15px;
}

.profile-pic {
  text-align: center;
}

.profile-pic img {
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {
  .aboutme-section .info {
    padding: 0 10px;
  }

  .profile-pic img {
    width: 150px;
    height: 150px;
  }
}

/* MY SKILLS SECTION */

.head-skills {
  text-align: center;
  font-size: 50px;
  margin-top: 20px; /* Adjusted to match the section */
  padding: 20px;
  grid-column: 1 / -1; /* Make the header span all columns */
}

.responsive-design {
  grid-column: span 3; /* Make it take up the full width of the row */
  justify-self: center;
}


.myskills-section {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 0; /* Removed extra margin */
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.skill img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.skill h3 {
  margin: 0;
  color: white;
}

.skill:hover {
  transform: scale(1.05);
}

.skill:hover img {
  filter: brightness(70%);
}

.skill:hover h3 {
  color: #007bff;
}

@media screen and (max-width: 768px) {
  .myskills-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .myskills-section {
    grid-template-columns: 1fr;
  }
}

/* PROJECT PORTFOLIO SECTION */

.head-projects {
  text-align: center;
  font-size: 50px;
  margin-top: 80px;
}

.projects-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 50px;
  justify-content: center; /* Center the project blocks */
}

/* For Project block */
.centered-project {
  justify-self: center; /* Centers the project */
  text-align: center; /* Ensures text and content inside is centered */
}

.project {
  position: relative;
  width: calc(33.33% - 20px);
  height: 200px;
  overflow: hidden;
}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.project:hover img {
  transform: scale(1.1);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project:hover .overlay {
  opacity: 1;
}

.overlay h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.overlay p {
  font-size: 16px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
}

.button {
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-size: 15px;
}

.button:hover {
  background-color: #7aa0da;
}

/* Responsive design */
@media (max-width: 768px) {
  .projects-section {
    justify-content: center;
  }

  .project {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .project {
    width: calc(100% - 20px);
  }
}


/* CONTACT SECTION */

.head-contact {
  text-align: center;
  font-size: 50px;
  margin-top: 80px;
}

.contact-section {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

.contact-info {
  margin-bottom: 20px;
}

.contact-info i {
  margin-right: 10px;
  font-size: 20px;
  color: #007bff;
}

.contact-form {
  margin-top: 20px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.contact-form textarea {
  height: 100px;
}

.contact-form input[type="submit"] {
  background-color: grey;
  color: grey;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form input[type="submit"]:hover {
  background-color: #0056b3;
}

@media only screen and (max-width: 600px) {
  .contact-section {
    padding: 10px;
    max-width: calc(100% - 20px);
  }

  .contact-form {
    padding: 0;
  }

  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    padding: 8px;
  }

  .contact-form input[type="submit"] {
    padding: 8px 16px;
  }
}

/* Footer */

footer {
  color: #fff;
  padding: 50px 0;
  font-family: Arial, sans-serif;
  text-align: center;
  background: linear-gradient(135deg, #e4b139, #6c0230, #649cef, #065535, #ccc);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-info,
.footer-links,
.footer-contact {
  flex: 1;
  margin-bottom: 20px;
}

.footer-info h3,
.footer-links h3,
.footer-contact h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 5px;
}

.footer-links ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: #ffc107;
}

.footer-contact p {
  margin: 5px 0;
}

.footer-social {
  text-align: center;
  margin-bottom: 20px;
}

.footer-social a {
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  font-size: 20px;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #ffc107;
}

.footer-bottom {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-info,
  .footer-links,
  .footer-contact {
    flex: none;
    width: 100%;
  }

  .footer-social {
    margin-top: 20px;
  }
}

/* JAVASCRIPT ANIMATION EFFECT CSS */

.skill img,
.project img {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 2s, transform 2s;
}

.skill.in-view img,
.project.in-view img {
  opacity: 1;
  transform: translateX(0);
}
